.git
.github
.venv
.pytest_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.log
.env
.env.*
!/.env.example
data/
results/
models/
logs/
elasticsearch/certs/
elasticsearch/config/
elasticsearch/data/
elasticsearch/data1/
elasticsearch/logs/
elasticsearch/sif/
elasticsearch/tmp-config/
source/Parser/input/
source/Parser/output/
source/Parser/logs/
source/Parser/models/
source/Parser/resources/
utils/Indexer/*.log
