.gitignore
data/
src/output/
src/models/
src/joblib/
src/__pycache__/
src/.ipynb_checkpoints/
resources/
filter-config.yml
git-filter-repo
filter-config.yml
src/MISC/add_parsed_eligibility_to_json.py
src/chroma/*
logs/*
src/inference.ipynb
src/MISC/SynthethicData.ipynb
src/MISC/fine-tune-data.ipynb
src/Embedder/mongo_vector_embedded.py
src/.env
logs/
finetuning/
src/Parser/biomedner_finetuned/*
**/__pycache__/
**/.ipynb_checkpoints/
